<!DOCTYPE html>
<html>
<head>
  <title>Auth2</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="user_nav">
		<%= link_to "Sign in with Twitter", "https://api.twitter.com/oauth/authenticate" %>	
	</div>

<%= yield %>

</body>
</html>
